@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600&family=Permanent+Marker&display=swap');

/*-------------------------Header--------------------------------------------*/
.customerLayout {
    font-family: 'Manrope', sans-serif;
}

.logo {
    font-family: 'Permanent Marker', cursive;
    color: #050704;
    font-size: 2rem;
}

.link {
    text-decoration: none;
    color: #B4B4B4;
    font-weight: bold;
    transition: color .4s;
}

.active, .link:hover {
    color: #050704;
    transition: color .3s ease-out;
    /* border-bottom: 1px solid #181818; */
}

.cardWrapper:hover .cardButton{
    border-bottom: 2px solid black;
    transition: border .5s ease-out;
    display: inline-block;
}
